$ScrollColor: linear-gradient(#46f1dd, #5ff246);

:root{
    scrollbar-color:  #54c246 $Bg_Dark !important;
    scrollbar-width: thin !important;
}
::-webkit-scrollbar {
    width: 4px !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $ScrollColor;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    outline: 1px solid slategrey;
}
::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: $Bg_Dark;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    cursor: none;
}

*,
::after,
::before {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    //font-family: "Quicksand", sans-serif;
    font-family: 'Kite One', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 14px;
    line-height: 2rem;
    position: relative;
    z-index: auto;
    margin: 0 !important;
    padding: 0 !important;
    color: #444333;
    background-color: $Bg_Light;
    scroll-behavior: smooth !important;
    scroll-snap-type: y mandatory;

    
    overflow-x: hidden;

    .-cursor{
        cursor: none !important;
    }
}